@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content }; //600px
    }
    @if $breakpoint == tab {
        @media (max-width: 980px) { @content }; //900px
    }
    @if $breakpoint == desk {
        @media (min-width: 1260px) { @content }; //1800px
    }
}

.custom-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    .prev-slide {
        transform: rotate(180deg);
    }
    svg {
        width: 25px;
    }
    .slider-content {
        max-width: 1000px;
        margin: 0 auto;
        height: 600px;
        display: flex;
        align-items: center;
        display: flex;
        overflow-x: scroll;
        margin: 20px;
        .slider-item {
            img {
                width: 200px;
                @include respond(tab) {
                    width: 100px;
                }
                //transition: width .5s;
                transition: all 0.8s ease;
            }
            .active {
                transform: scale(3);
                width: 600px;
                @include respond(tab) {
                    width: 200px;
                }
            }
        }   
    }
    .slider-controls {
        margin: 0 auto;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
